body {
    background-color: #dcd9d9;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.fullborder {
    border: black solid thin;
}

#wrapper {
    width: 960px;
    height: 625px;
    margin-left: auto;
    margin-right: auto;
}

#page1 #logo{
    float: left;
    text-align: center;
    padding: 14px 16px;
    background-color: #a72f33;
    width: 100px;
    height: 45px;
    color: #eae9e7;
}

#page1 #header{
    overflow: hidden;
    float: right;
    text-align: right;
    background-color: #a72f33;
    padding: 14px 16px;
    width: 792px;
    height: 45px;
}

#page1 #hero {
    background-color: #eae9e7;
    height: 500px;
}

#page1 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#page1 #text {
    float: left;
    background-color: #eae9e7;
    padding: 10px;
    height: 100px;
    width: 500px;
}

#page1 #footer {
    background-color: #eae9e7;
    padding: 10px;
    float: right;
    width: 416px;
    height: 100px;
    text-align: center;
}

#page2 #logo {
    width: 100px;
    float: left;
    height: 100px;
}

#page2 #header {
    float: right;
    text-align: center;
    width: 856px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b53034;
}

#page2 #header a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #f0eff4;
}

#page2 #banner {
    height: 500px;
}

#page2 #hero {
    float: left;
    height: 399px;
    width: 300px;
    overflow: hidden;
    background-color: #dcd9d9;
}

#page2 h1{
    font-size: medium;
    text-align: center;
}

#page2 #footer {
    height: 122px;
    text-align: center;
    background-color: #dcd9d9;

}

#page2 #footer a {
    float: right;
    text-align: center;
    width: 856px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000000;
    font-size: large;
}

#page3 #logo {
    width: 100px;
    float: left;
    height: 100px;
}

#page3 #header {
    float: right;
    text-align: center;
    width: 856px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b53034;
}

#page3 #header a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #f0eff4;
}

#page3 #banner {
    text-align: center;
    height: 200px;
    background-color: #dcd9d9;
}

#page3 #hero {
    height: 200px;
}

#page3 #img1 {
    float:left;
    height:100px;
    width:100px;
}

#page3 #text1 {
    width: 854px;
    height: 100px;
    float: right;
    background-color: #dcd9d9;
}

#page3 #img2 {
    float:left;
    height:100px;
    width:100px;
}

#page3 #text2 {
    width: 854px;
    height: 100px;
    float: right;
    background-color: #dcd9d9;
}

#page3 #img3 {
    float:left;
    height:100px;
    width:100px;
}

#page3 #text3 {
    width: 854px;
    height: 100px;
    float: right;
    background-color: #dcd9d9;
}

#page3 #img4 {
    float:left;
    height:100px;
    width:100px;
}

#page3 #text4 {
    width: 854px;
    height: 100px;
    float: right;
    background-color: #dcd9d9;
}

#page3 #footer {
    background-color: #dcd9d9;
}